@model NotUygulamasi.Models.Not

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Create.css">
</head>
<body>
    <h1>Yeni Not</h1>

    <div class="form-container">
        <form asp-action="Create">
           

            <div class="form-group">
                <label asp-for="Baslik" class="control-label"></label>
                <input asp-for="Baslik" class="form-control" />
       
            </div>

            <div class="form-group">
                <label asp-for="Icerik" class="control-label"></label>
                <textarea asp-for="Icerik" class="form-control"></textarea>
            
            </div>

            <div class="form-group">
                <input type="submit" value="Kaydet" class="submit-button" />
            </div>
        </form>
    </div>

    <div>
        <a asp-action="Index" class="back-link">Listeye Geri Dön</a>
    </div>

  
</body>
</html>
